<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
                          <!--Через запятую URL-->          
      <add key ="URLs" value="https://www.cbr-xml-daily.ru/daily_eng.xml,https://raw.githubusercontent.com/kizeevov/elcomplusfiles/main/config.xml,https://raw.githubusercontent.com/kizeevov/elcomplusfiles/main/tree.xml"/>
    </appSettings>
</configuration>